<!DOCTYPE html>
<html>
  
<head>
  <title>
    RC Car Controller
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Control Your RC Car</h1>
  <form method="post" action="/control">
    <button name="command" value="a">Forward</button>
    <button name="command" value="c">Left</button>
    <button name="command" value="d">Right</button>
    <button name="command" value="b">Backward</button>
    <button name="command" value="stop">Stop</button>
  </form>
</body>
</html>