<!DOCTYPE html>
<html>

<head>
  <title>
    RC Car Controller
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Control Your RC Car</h1>
  <form method="post" action="/control" class="controller">
    <button name="command" value="a" id = "forward">Forward</button>
    <button name="command" value="c" id = "left">Left</button>
    <button name="command" value="d" id = "right">Right</button>
    <button name="command" value="b" id = "backward">Backward</button>
    <button name="command" value="stop" id = "stop">Stop</button>
  </form>

  <h2>Camera</h2>
  <a href = "/capture"> <!-- photo trigger button -->
    <button> Take Photo </button>
  </a>

  <div> <!-- show latest photo -->
    <img src = "{{ url_for('static', filename = 'test.jpg') }}?t={{ time }}" width = "500">
  </div>

  <div> <!-- download link -->
    <a href = "{{ url_for('static', 'filename = 'test.jpg') }} " download = "photo.jpg">
      Download Photo
    </a>
  </div>
</body>
</html>